.btn {
  background-color: transparent;
  border: 1px solid #f8f8f8;
  border-radius: 7px;
  width: 32px;
  height: 32px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: 1px solid #d8d8d8;
  }

  &:hover .card__icon-favorite {
    color: #d8d8d8;
  }

  &:hover .card__icon-plus {
    color: #d8d8d8;
  }
}
