.content {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    padding: 6px;
    border: 1px solid #ececec;
    border-radius: 5px;
  }
}
