.drawer {
  position: fixed;
  padding: 32px 30px;
  background-color: #fff;
  z-index: 10;
  right: 0;
  top: 0;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__icon-close {
    transform: rotate(-45deg);
  }

  &__img {
    object-fit: contain;
    margin-right: 21px;
    width: 90px;
    height: 90px;
  }

  &__heading {
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  &__title {
    margin: 0 0 8px;
    max-width: 150px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  &__mid {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__wrap {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
  }
}
