.overley {
  display: block;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0.3s ease-in-out;

  &--active {
    transform: translateX(0);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
  }
}
