.wrapper {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}
